node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
*.mp4
*.mov
public/videos/
public/images/nivel*/
!public/images/nivel1/
!public/images/nivel2/
!public/images/nivel3/
!public/images/nivel4/

